.cards {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  overflow-x: scroll;
  height: 100%;
}

.cards:last-of-type::after {
  display: block;
  content: '-';
  opacity: 0;
  min-width: $baseUnit;
  max-width: $baseUnit;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $baseUnit;
  margin-right: 0;
  margin-top: 0;
  min-width: $cardWidth;
  max-width: $cardWidth;
  background-color: $inverseColor;
  padding-bottom: $baseUnit;
}

.card .card_header {
  height: $imageHeight;
  background-color: $baseColor;

}

.card .card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

}

.card .card_nav {
  padding: 0 $baseUnit;
  button {
    margin-top: 0;
  }
}
