.logo {
  padding: $baseUnit;
  user-select: none;

  button, button:focus {
    font-family: NittyBold;
    outline: none;
    display: inline-block;
    font-size: rem-calc(22);
    line-height: rem-calc(30);
    padding: 0 $thirdUnit;
    background-color: $baseColor;
    color: $inverseColor;
    border: none;
  }
}

.layout-app-is-learn .logo {
  background-color: $learnColor;
}

.layout-app-is-curate .logo {
  background-color: $curateColor;
}
