.logo {
  padding: $baseUnit;
  background-color: $darkBaseColor;

  h1 {
    display: inline-block;
    font-size: rem-calc(22);
    line-height: rem-calc(30);
    padding: 0 $thirdUnit;
    background-color: $baseColor;
    color: $inverseColor;
  }
}
