.panel {
  display: flex;
  flex-direction: column;
  color: $baseColor;
}

.panel.panel-top {
  display: flex;
  justify-content: flex-start;
}

textarea {
  width: 100%;
}

.panel.panel-center {
  padding: $baseUnit;
  justify-content: center;
  display: none;

  @media screen and ( max-height: 1600px ){
    display: none;
  }
}

.panel.panel-bottom {
  justify-content: flex-end;
}

.panel.panel-horizontal {
  flex-direction: row;
}

.panel.panel-right {
  flex: 1;
  margin-left: 5px;
}

.panel.panel-left {
  flex: 1;
  margin-right: 5px;
}

.panel-content_header {
  height: $imageHeight;
  background-color: $baseColor;

  .map {
    width: 100%;
    height: 100%;
  }
}


.panel-content_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $baseUnit $baseUnit 0 $baseUnit;

  hgroup {
    margin-bottom: $twoThirdUnit;
  }

  .editable {
    border: rem-calc(1px) dotted $inverseColor;
    padding: 3px;
    margin: -5px;
  }

  section {
    margin-bottom: $baseUnit;

    h1 {
      padding: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(22);
      font-family: NittyBold;
      margin-bottom: $baseUnit / 3;
    }
  }

  ol {
    margin-left: $baseUnit;
  }

  .meta p {
    margin-bottom: 0;
  }

  .meta {
    margin-bottom: $twoThirdUnit;
  }

  &.panel-is-resource {
    margin-top: $twoThirdUnit;
  }
}

.panel-content_main {
  .editable {
  }
}


.layout-app-is-curate .sidebar .panel-content_main {
  .editable {
    border: rem-calc(1px) dotted $curateColor;
  }
}
