.sidebar {
  display: flex;
  width: 100%;
  max-width: $sidebarWidth;
  flex-direction: column;
  justify-content: space-between;
  background-color: $inverseColor;
  border-right: rem-calc(1px) solid $baseColor;
}

.layout-app-is-learn.layout-app-is-waypoints .sidebar {
  background-color: $learnColor;
}

.layout-app-is-curate.layout-app-is-waypoints .sidebar {
  background-color: $curateColor;
}

