.layout-app-is-curate .map {
  stroke: $curateColor;
  fill: $curateColor;

  .point {
    fill:: $curateColor;
  }
}

.layout-app-is-learn .map {
  stroke: $learnColor;
  .point {
    fill:: $learnColor;
  }
}

.line {
  stroke: $darkgray;
}

.stop {
  fill: $baseColor;
} 

.stop.stop-is-incomplete .point {
  fill: $baseColor;
} 

.map.map-checkpoints .stop {
  stroke-width: 12;
}

.ring {
  stroke-width: 1;
  stroke: $darkBaseColor;
}

.map:hover .ring {
  stroke-width: 3;
}
