.todolist_item, .resource_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $baseUnit / 6;
  background-color: $lightBaseColor;
  height: $baseUnit;
  margin-bottom: $baseUnit / 6;
  color: $baseColor;
}

.todolist_item p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.todolist_item .checkbox {
  display: inline-block;
  margin-right: $baseUnit / 3;
  width: $twoThirdUnit;
  height: $twoThirdUnit;
  background-color: $inverseColor;
  vertical-align: center
}

.layout-app-is-learn .checkbox-is-complete {
  background-color: $learnColor;
  border: rem-calc(2px) solid $inverseColor;
}

.layout-app-is-curate .checkbox-is-complete {
  background-color: $curateColor;
  border: rem-calc(2px) solid $inverseColor;
}

.layout-app-is-curate .todolist_item-is-highlighted {
  background-color: $curateColor;
  color: $inverseColor;
}

.layout-app-is-learn .todolist_item-is-highlighted {
  background-color: $learnColor;
}

.resource_item {
  height: $baseUnit * 2;
  padding: $baseUnit / 3;
}

.resource_item .checkbox {
  display: inline-block;
  margin-right: ($baseUnit / 3) * 2;
  width: $baseUnit * 1.5;
  height: $baseUnit * 1.5;
  background-color: $lightBaseColor;
  vertical-align: center
}

.resource_item p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
