.todolist_item, .resource_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $baseUnit / 6;
  background-color: $lightBaseColor;
  height: $baseUnit;
  margin-bottom: $baseUnit / 6;
  color: $baseColor;
}

.todolist_item p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.todolist_item .checkbox {
  display: inline-block;
  margin-right: $baseUnit / 3;
  width: $twoThirdUnit;
  height: $twoThirdUnit;
  background-color: $inverseColor;
  vertical-align: center
}

.resource_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  padding: $baseUnit / 3;
  vertical-align: center
}

.checkbox_container {
  flex: 2;
  height: auto;
}

.resource_item:hover {
  background-color: $learnColor;
  .handle {
    background-color: $learnColor;

    .handle_circle {
      fill: $baseColor;
    }
  }

}

.resource_item .handle {
  display: block;
  width: $twoThirdUnit;
  height: $twoThirdUnit;
  background-color: $lightBaseColor;
  vertical-align: center;
  margin: 0;

  .handle_circle {
    fill: $learnColor;
  }
}

.resource_item .resource_item_title {
  flex: 20;
  margin-right: $baseUnit / 3;
  vertical-align: center
}


.app-is-learn .checkbox-is-complete {
  background-color: $learnColor;
  border: rem-calc(2px) solid $inverseColor;
}

.app-is-curate .checkbox-is-complete {
  background-color: $curateColor;
  border: rem-calc(2px) solid $inverseColor;
}

.app-is-curate .todolist_item-is-highlighted {
  background-color: $curateColor;
  color: $inverseColor;
}

.app-is-learn .todolist_item-is-highlighted {
  background-color: $learnColor;
}
