.layout-app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: NittyNormal;
  height: 100%;
  overflow-y: hidden;
  background: $lightBaseColor;
}

.layout-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: $sidebarWidth;
  max-width: $sidebarWidth;
  background-color: $darkBaseColor;
}

.layout-levels {
  display: flex;
  width: auto;

  .tab {
    width: 25px;
    height: 100%;
  }

  .waypoint {
    background-color: darken($darkBaseColor, 5%);
  }

  .waypoints {
    background-color: darken($darkBaseColor, 10%);
  }
}

.layout-main {
  flex-direction: column;
  height: 100%;

}
