.app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: NittyNormal;
  height: 100%;
  overflow-y: hidden;
  background: $lightBaseColor;
}

.layout-sidebar {
  display: flex;
  flex-direction: row;
  min-width: $sidebarWidth;
  max-width: $sidebarWidth;
}

.layout-main {
 flex-direction: column;
  flex: 1;
}

.layout-topbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  padding: $baseUnit;
}
