@font-face {
  font-family: NittyNormal;
  font-weight: 300;
  src: url('./NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  font-weight: 500;
  src: url('./NB.woff') format('woff');
}
