@font-face {
  font-family: NittyNormal;
  src: url('./NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('./NB.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--lightBaseColor);
}

::-webkit-scrollbar {
  display: none;
}

button {
  font-family: NittyBold;
  font-size: 13px;
  height: calc(var(--baseUnit) * 1.5);
  background: var(--inverseColor);
  color: var(--baseColor);
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  width: 100%;
  border: none;

  &:hover {
    color: var(--highlightColor);
  }
  &:disabled {
    color: var(--lightBaseColor);
    background-color: var(--betweenBaseColor);
  }

  &.active {
    background-color: var(--baseColor);
    color: var(--inverseColor);
  }
}

table {
  font-size: 13px;
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  box-sizing: border-box;
  border: none;
  height: calc(var(--baseUnit) * 1.5);
}

th {
  font-weight: bold;
  color: var(--inverseColor);
  background-color: var(--baseColor);
  width: 100%;
}

td {
  text-align: center;
  width: 50%;
}

.app {
  display: flex;
  font-family: NittyNormal;
  height: 100%;
}

.cards {
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
  height: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightBaseColor);
  flex-direction: column;
  height: 100%;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.contentPanel {
  flex: 1;
}

.controlPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.timeline {
  height: 200px;
  background-color: var(--betweenBaseColor);
}

.historyButtons {
  display: flex;
  justify-content: space-between;
  button {
    height: calc(var(--baseUnit) * 2);
  }
}

.level-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mode-buttons {
  display: flex;
  justify-content: space-between;
}


.debugger {
  color: var(--baseColor);
  background-color: var(--inverseColor);
  flex: 1;

  @media screen and ( max-height: 1600px ){
    display: none;
  }
}