$black:       #000000;
$white:       #FFFFFF;
$darkgray:    #3d3d3d;
$mediumgray:  #c0c4c1;
$lightgray:   #f4f6f4;
$yellow:      #E5CF39;
$green:       #A5CC45;
$blue:        #75C7B3;
$red:         #E34D2F;

$lightBaseColor: $lightgray;
$betweenBaseColor: $mediumgray;
$darkBaseColor: $darkgray;
$inverseColor: $white;
$highlightColor: $red;
$baseColor: $black;

$curateColor: $red;
$learnColor: $yellow;
