component(card){
  boxSizing: border-box;
  display: flex;
  flex-direction: column;
  margin: var(--baseUnit);
  min-width: calc(12 * var(--baseUnit));
  max-width: calc(12 * var(--baseUnit));
  background-color: var(--inverseColor);

  img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }

  img:hover {
    filter: grayscale(0%);
  }

  hgroup {
    color: var(--baseColor);
    padding: 20px 30px;
    margin-bottom: 15px;

    h1 {
      font-family: 'NittyBold';
      font-size: 28px;
      line-height: 30px;
      margin: 0;
    }
  }

  section {
    padding: 30px;
    border-bottom: 1px solid black;
  }

  section:last-of-type {
    border-bottom: none;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  button {
    border: none;
    height: 45px;
    margin-bottom: 5px;
  }

  .checkpoint {
    span {
      margin-right: 30px;
    }
  }
}
