.cards {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  overflow-x: scroll;
  height: 100%;
}

.cards:last-of-type::after {
  display: block;
  content: '-';
  opacity: 0;
  min-width: $baseUnit;
  max-width: $baseUnit;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $baseUnit;
  margin-right: 0;
  margin-top: 0;
  min-width: $cardWidth;
  max-width: $cardWidth;
  background-color: $inverseColor;
  padding-bottom: $baseUnit;
}

.card_header {
  height: $imageHeight;
  background-color: $baseColor;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $inverseColor;
  padding: $baseUnit $baseUnit 0 $baseUnit;
}

.card_section {
  margin-bottom: $baseUnit;

  h1 {
    padding: 0;
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    font-family: NittyBold;
    margin-bottom: $baseUnit / 3;
  }
}

.card_section-title, .card_section-meta {
 margin-bottom: $twoThirdUnit;
}

.card_section-title .card_field {
  font-weight: 500;
  font-size: rem-calc(28);
  line-height: rem-calc(30);
}

.card .card_footer {
  padding: 0 $baseUnit;

  button {
    margin-top: 0;
  }
}
