.cards {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  overflow-x: scroll;
  height: 100%;

  .card {
    margin-left: $baseUnit;
  }
}

.cards:last-of-type::after {
  display: block;
  content: '-';
  opacity: 0;
  min-width: $baseUnit;
  max-width: $baseUnit;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-width: $cardWidth;
  max-width: $cardWidth;
  background-color: $inverseColor;
  padding-bottom: $baseUnit;
}

.card_section-map {
  height: $imageHeight;
  background-color: $baseColor;
}

.card_section {
  margin-bottom: $baseUnit;
  padding-left: $baseUnit;
  padding-right: $baseUnit;

  h1 {
    padding: 0;
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    font-family: NittyBold;
    margin-bottom: $baseUnit / 3;
  }
}

.card_section-map, .card_section-nav {
  h1 {
   display: none;
  }
 }

.card_section-title, .card_section-meta {
 margin-bottom: $twoThirdUnit;
}

.card_section-title  {
  h1 {
    font-weight: 500;
    font-size: rem-calc(28);
    line-height: rem-calc(30);
  }
}

.card_section-nav {
  padding: 0 $baseUnit;

  button {
    margin-top: 0;
  }
}
