.panel {
  display: flex;
  flex-direction: column;
  color: $baseColor;
}

.panel_header {
  height: $imageHeight;
  background-color: $baseColor;
}

.panel_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $inverseColor;
  padding: $baseUnit $baseUnit 0 $baseUnit;

  .editable {
    border: rem-calc(1px) dotted $inverseColor;
    padding: 3px;
    margin: -5px;
  }

  section {
    margin-bottom: $baseUnit;

    h1 {
      padding: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(22);
      font-family: NittyBold;
      margin-bottom: $baseUnit / 3;
    }
  }

  .meta p {
    margin-bottom: 0;
  }

  .meta {
    margin-bottom: $twoThirdUnit;
  }
}

.app-is-checkpoint .card .panel_header {

  hgroup .title {
    font-size: rem-calc(20px);
  }
}

.app-is-resource .sidebar .panel_header {

  hgroup .title {
    font-size: rem-calc(20px);
  }
}

.app-is-curate .sidebar .editable {
  border: rem-calc(1px) dotted $curateColor;
}
