.map {
  width: 100%;
  height: 100%;
}

.line {
  stroke: $darkgray;
}

.stop {
  fill: $baseColor;
} 


.map.map-checkpoints .stop {
  stroke-width: 4;
}

.ring {
  stroke-width: 1;
  stroke: $darkBaseColor;
}

.map:hover .ring {
  stroke-width: 3;
}

.app-is-curate .map {
  stroke: $curateColor;

  .radar-point {
    fill: $curateColor;
  }

  .curve {
    fill: none;
    stroke-width: 4;  
  }  

  .line {
    stroke-width: 2;
  }

  .stop-is-incomplete {
    fill: $baseColor;
  } 

  .point-is-complete {
    fill: $curateColor;
  }

  .point-is-highlight {
    fill: $curateColor;
  }

}

.app-is-learn .map {
  stroke: $learnColor;

  .point {
    fill: $baseColor;
  }

  .radar-point {
    fill: $learnColor;
  }

  .curve {
    fill: none;
    stroke-width: 4;  
  }

  .line {
    stroke-width: 2;
  }  

  .point-is-complete {
    fill: $learnColor;
  }

  .point-is-highlight {
    fill: $learnColor;
  }
}
