component(sidebar) {
  color: var(--inverseColor);
  padding: var(--baseUnit);
  min-width: calc(12 * var(--baseUnit));
  max-width: calc(12 * var(--baseUnit));
  background-color: var(--darkBaseColor);
}
