.panel {
  display: flex;
  flex-direction: column;
  color: $inverseColor;
}

.panel.panel-top {
  display: flex;
  justify-content: flex-start;
}

.panel.panel-center {
  padding: $baseUnit;
  justify-content: center;
  display: none;

  @media screen and ( max-height: 1600px ){
    display: none;
  }
}

.panel.panel-bottom {
  justify-content: flex-end;
}

.panel.panel-horizontal {
  flex-direction: row;
}

.panel.panel-right {
  flex: 1;
  margin-left: 5px;
}

.panel.panel-left {
  flex: 1;
  margin-right: 5px;
}

.panel .panel-content_header {
  height: $imageHeight;
  background-color: $baseColor;
}

.panel .panel-content_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 $baseUnit;

  h1 {
    padding: $twoThirdUnit 0;
  }

  section {
    margin-bottom: $baseUnit;

    h1 {
      padding: 0;
      font-size: rem-calc(16);
      line-height: rem-calc(22);
      font-family: NittyBold;
    }
  }

  .meta {
    margin-bottom: $twoThirdUnit;
  }
}

.panel.panel-control {
  padding: $baseUnit;
}
