* {
  font-family: NittyNormal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}


em {
  font-style: normal;
  font-family: NittyBold;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 ,h5, h6, .title {
  font-family: NittyBold;
  word-spacing: rem-calc(-3px);
}

p, li, textarea {
  font-size: rem-calc(16);
  line-height: rem-calc(20);
}

p {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0rem;
  }
}

ul {
  list-style: none;
}

.title {
  font-weight: 500;
  font-size: rem-calc(28);
  line-height: rem-calc(30);
}

input, textarea {
  border: rem-calc(1px) solid $curateColor;
}

textarea {
  width: 100%;
}

.placeholder {
  background-color: $learnColor;
  height: 100%;
}
