@import 'functions.scss';

$baseUnit: rem-calc(30);
$halfUnit: rem-calc(15);
$thirdUnit: rem-calc(10);
$twoThirdUnit: rem-calc(20);

$sidebarWidth: 14 * $baseUnit;
$cardWidth: 14 * $baseUnit;
$imageHeight: ($cardWidth / 12) * 7;

@import 'colors';
@import 'typography';
@import 'base';
@import 'mediaqueries';
@import 'layout';
@import 'components/textbar';
@import 'components/logo';
@import 'components/sidebar';
@import 'components/stack';
@import 'components/buttons';
@import 'components/tables';
@import 'components/cards';
@import 'components/breadcrumbs';
@import 'components/maps';
@import 'components/todoList';
@import 'components/viewer';
@import 'components/slidersection';
@import 'components/tour';
@import 'components/tags';
